ul {
    margin: 0;
    padding-left: .5%;
    list-style-type: none;
    }

li {
    padding: 10px;
    color: black;
    font-weight: bold;
    width: 33%;
    }
li.odd {
    background: #f1f1f1;
    color: black;
    }
li.even {
    background: #e1e1e1;
    color: black;
    }


/* 
  Quick Lookup Guide
- Change font color     => color: red;
- Change font size      => font-size: 15px;
- Text align            => text-align: center
- Background color      => background-color: blue
- Select table header row as table>thead>tr { your properties go here }
*/
